.datePicker {
  background-color: white;
  border-radius: 0.4rem;
  width: 9vw;
  .MuiOutlinedInput-input {
    // padding: 8.5px 14px !important;
    // padding-right: 0 !important;
    // padding-left:0 !important;
  }
}
.tab-container-info {
  display: grid;
  grid-template-rows: 40px 1fr;
  gap: 10px; /* Optional: to add space between grid items */
}
