.datePicker {
  background-color: white;
  border-radius: 0.4rem;
  width: 9vw;
  .MuiOutlinedInput-input {
    // padding: 8.5px 14px !important;
    // padding-right: 0 !important;
    // padding-left:0 !important;

  }
}