.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 10vh;
  background-color: var(--primary-color);
  color: var(--text-light-color);
  flex-grow: 1;
  .navbar-left-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    // flex-grow: 1;
    // border: 1px solid red;
  }
  .navbar-middle-header {
    display: flex;
    gap: 1rem;
    align-items:flex-end;
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 2rem;
    // border: 1px solid red;
    height: 9vh;
    .MuiIconButton-root{
      padding:0;
    }
  }
  .navbar-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    // flex-grow: 1;
    // border: 1px solid red;
  }
}

.navbar-link {
  text-decoration: none;
  color: white;
}

.navbar-title {
  cursor: pointer;
  font-weight: 600;
}



.navbar-username {
  font-weight: bold;
  cursor: pointer;
  color: white;
  margin-right: 20px;
}

.navbar-icon {
  color: white;
  margin-right: 20px;
}

.navbar-tooltip {
  display: flex;
  align-items: center;
}
